@use '../../assets/stylesheets/text-styles.scss';
@import '../../assets/stylesheets/colors';
@import '../../assets/stylesheets/variables/variables.scss';

.container {
  display: flex;
  height: $min-height;
}

.imgDivision {
  flex: 1;
  background-image: url('src/assets/images/foto.jpg');
  background-size: cover;
  background-position: center center;
}

.formDivision {
  flex: 1;
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boatIcon {
  width: 20%;
  margin-bottom: 10px;
}

.btnHighlighted {
  font-weight: bold;
  color: $primary-color-60;
}

.imgContainer{
  width: 470px;
}
