@use '../../assets/stylesheets/colors' as *;
@use '../../assets/stylesheets/mixins' as *;

.usercard{
  width: 350px;
  height: 150px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-radius: 10px;
  border: solid $primary-color-60;
  margin: 10px;
}

.profilePicture{
  height: 100%;
  border-radius: 100%;
}

.profileInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.data{
  font-weight: bold;
}

