@use '../../assets/stylesheets/colors' as *;
@use '../../assets/stylesheets/mixins' as *;
@use '../../assets/stylesheets/variables' as *;

.cardContainer {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userLinks {
  text-decoration: none;
  color: $text-neutral-40;
}

.searchBarContainer{
  width: calc(100% - 50px);
  margin-top: 25px;
}

.listContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
